* {
    -text-color: rgba(0, 0, 0, 0.88);
    -text-color-inv: rgb(255, 255, 255);

    -color-bar: rgb(24, 38, 119);
    -color-tab: rgb(187, 187, 187);
    -color-focus: rgb(50, 150, 213);

    -color-scrollbar: rgb(187, 187, 187);
    -color-scrollbar-hover: rgb(204, 204, 204);
    -color-scrollbar-pressed: rgb(229, 229, 229);

    -fx-basic-color: red;
    -fx-darker-color: derive(-fx-basic-color, -40%);
    -fx-lighter-color: derive(-fx-basic-color, 80%);
    -fx-lightest-color: derive(-fx-basic-color, 95%);
    -fx-dark-text-color: rgb(47.0, 52.0, 57.0);
    -fx-text-color: rgb(67.0, 72.0, 77.0);
    -fx-light-gray-color: rgb(200.0, 200.0, 200.0);
    -fx-lightest-gray-color: rgb(230.0, 230.0, 230.0);
    -color-menu-background: rgb(244, 244, 244);
    -color-menu-border: rgb(203, 203, 203);

}
